.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.active {
    display: block;
    margin: 0 auto;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons {
    text-align: center;
    padding-top: 40px;
}